@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --background: #fffaf0;
  --background-2: #fff8f0;
  --background-dark: #f3e4cc;
  --background-dark-2: #f0cd9d;
  --foreground: #4a3244;
  --foreground-dark: #3a1436;
  --foreground-dark-2: #2e0f2e;
  --primary: #e01474;
  --primary-light: #e27bab;
  --primary-dark: #940445;
  --secondary: #36b086;
  --tertiary: #ab5da7;
  --quaternary: #88b534;
  --quinary: #f8b713;
  --status: #4e67d8;
  --error: #ea4227;
}
.font-main {
  font-family:
    var(--font-main),
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background-2);
}

* {
  box-sizing: border-box;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--foreground);
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--foreground);
}

input[type='range']::-ms-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--foreground);
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.3s ease-in forwards;
}

.clamp-custom-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-custom-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
